<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Metropolitan Museum of Art</title>
    <link rel="stylesheet" href="../Styles/estilosprincipal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../out/Models/Department.js" defer></script>
    <script src="../out/Models/Artwork.js" defer></script>
    <script src="../out/Models/Constituent.js" defer></script>
    <script src="../out/Models/ElementMeasurements.js" defer></script>
    <script src="../out/Repositories/CategoriasRepository.js" defer></script>
    <script src="../out/Repositories/IdArtworkRepository.js" defer></script>
    <script src="../out/Repositories/ArtworkRepository.js" defer></script>
    <script src="../out/Services/CategoriasService.js"defer></script>
    <script src="../out/Services/IdArtWorkService.js"defer></script>
    <script src="../out/Services/ArtworkService.js"defer></script>
    <script src="../out/Controllers/PrincipalController.js"defer></script>
    
</head>
<body>
    <div class="cabecera row">
        <div class=" col-md-2 col-4" style="padding: 0; background-color: red;">
            <img src="../assets/img/logoMET.png" alt="logo de Met" class="img-fluid">
        </div>
        <div class="titulo col-md-10 col-8">
            <p>The Metropolitan Museum of Art</p>
        </div>
    </div>
    <div class="divSelector row">
        <div class="col-12">
            <p>Welcome to The Met</p>
        </div>
        <div class="selector col-12" style="display: flex;align-items: center;align-content: center;">
            <!--Selector creado por Diego-->
            <select name="" id="categoriaSelect" style="margin: auto;">
            </select>
        </div>
    </div>
    <div class="cuerpo row" style="padding: 20px;">
        <!--La tarjeta que debe de crear Diego dinamicamente, imagen autor titulo año-->
        <div id="obrasContainer" class="row">

        </div>
    </div>
</body>
</html>